/* ================= VENTANA CHATBOT ================= */

/* BOTON FLOTANTE */

#chatbot-btn{

position:fixed;
bottom:20px;
right:20px;

background:#259a02;
color:white;

border:none;
border-radius:50%;

width:60px;
height:60px;

font-size:25px;

cursor:pointer;

}

/* CHAT */

#chatbot{

position:fixed;

bottom:90px;
right:20px;

width:300px;
height:400px;

background:white;

border-radius:10px;

box-shadow:0px 0px 10px rgba(0,0,0,0.2);

display:none;

flex-direction:column;

}

/* HEADER */

.chat-header{

background:#259a02;
color:white;

padding:10px;

display:flex;
justify-content:space-between;
align-items:center;

border-radius:10px 10px 0 0;

}

/* CUERPO */

.chat-body{

padding:10px;

height:280px;

overflow-y:auto;

background:#f5f5f5;

}

/* MENSAJES */

.bot-msg{

background:white;

padding:8px;

border-radius:8px;

margin-bottom:8px;

max-width:80%;

}

.user-msg{

background:#259a02;
color:white;

padding:8px;

border-radius:8px;

margin-bottom:8px;

margin-left:auto;

max-width:80%;

}

/* FOOTER */

.chat-footer{

display:flex;

padding:10px;

gap:5px;

}

.chat-footer input{

flex:1;

padding:5px;

}

.chat-footer button{

background:#259a02;
color:white;

border:none;

padding:6px 10px;

cursor:pointer;

}